    <nav class="navbar navbar-expand-lg navbar-dark flex-md-nowrap bg-dark fixed-top">
        <div class="container">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <a class="navbar-brand" href="{{ path('homepage') }}">Alumni</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item active">
                        <a class="nav-link" href="{{ path('profile') }}">Profile
                            <span class="sr-only">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">CV Library</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                        </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <a class="navbar-brand" href="{{ path('homepage') }}">Alumni</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <li class="nav-item">
                        <a class="nav-link" href="#">CV Library</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>



    <!-- SIDEBAR -->

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                        <br>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('group_list') }}">
                                    <div class="container">
                                        <i class="fas fa-layer-group"></i>
                                        <span data-feather="home"></span>
                                        Groups <span class="sr-only">(current)</span>
                                        <span class="d-inline-block btn float-right">
                                            <i class="fas fa-angle-right"></i>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('invitation') }}">
                                    <div class="container">
                                        <i class="fas fa-envelope"></i>
                                        <span data-feather="file">Invitations</span>
                                        <span class="d-inline-block btn float-right">
                                            <i class="fas fa-angle-right"></i>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">


                                <a class="nav-link" href="{{ path('flags') }}">
                                    <div class="container">
                                        <i class="fas fa-flag"></i>
                                        <span data-feather="file">Flagged Posts</span>
                                        <span class="d-inline-block btn float-right">
                                            <i class="fas fa-angle-right"></i>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_list') }}">
                                    <div class="container">
                                        <i class="fas fa-users"></i>
                                        <span data-feather="file">Users</span>
                                        <span class="d-inline-block btn float-right">
                                            <i class="fas fa-angle-right"></i>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>