{% extends 'baseAdmin.html.twig' %}

{% block title %} Flags {% endblock %}

{% block body %}
	<h3>Flagged Posts</h3>
	<div class="container">
		{% if posts is empty %}
			<p>No post found in the application</p>
		{% else %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>title</th>
						<th>Username</th>
						<th>status</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td>{{ post.getTitle() }}</td>
							<td>{{ post.getAuthor().getUsername() }}</td>
							{% if post.getFlag() %}
								{% set flag = "flagged" %}
							{% else %}
								{% set flag = "unappropriate content?" %}
							{% endif %}
							<td>{{ flag }}</td>
							<td><a href="{{ path('post_edit', {post: post.getId()}) }}">Edit</a></td>
							<td><a href="#">Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
    <h3>Flagged Comments</h3>
	<div class="container">
		{% if comments is empty %}
			<p>No comment found in the application</p>
		{% else %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>title</th>
						<th>Username</th>
						<th>status</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for comment in comments %}
						<tr>
							<td>{{ comment.getAuthor().getUsername() }}</td>
							{% if comment.getFlag() %}
								{% set flag = "flagged" %}
							{% else %}
								{% set flag = "unappropriate content?" %}
							{% endif %}
							<td>{{ flag }}</td>
							<td><a href="{{ path("comment_edit", {comment: comment.getId()}) }}">Edit</a></td>
							{# change content to: "this comment was deleted by an admin" #}
							<td><a href="#">Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

{% endblock %}