{% extends 'baseAdmin.html.twig' %}

{% block title %} User list {% endblock %}

{% block body %}

	<div class="container mt-5 pl-5 pt-5">
		<div class="element-success">
			{{ form(searchForm) }}
		</div>
	</div>

	<br>
	
	<div class="container pl-5">
		{% if users is empty %}
			<p>No user found in the application</p>
		{% else %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Username</th>
						<th>Firstname</th>
						<th>Lastname</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							{% if user.getProfilePicture() is empty %}
								<td></td>
							{% else %}
								<td><img src="{{ path('download_document', { 'document': user.getProfilePicture().getId()}) }}" alt="profile picture" width="80px" /></td>
							{% endif %}
							{% if user.getUsername()|length() > 10 %}
								{% set username = user.getUsername()|slice(0, 10) %}
								{% set username = username ~ '...' %}
							{% else %}
								{% set username = user.getUsername() %}
							{% endif %}
							<td>{{ username }}</td>

                            {% if user.getFirstname()|length() > 10 %}
								{% set firstname = user.getFirstname()|slice(0, 10) %}
								{% set firstname = firstname ~ '...' %}
							{% else %}
								{% set firstname = user.getFirstname() %}
							{% endif %}
							<td>{{ firstname }}</td>

							{% if user.getLastname()|length() > 10 %}
								{% set lastname = user.getLastname()|slice(0, 10) %}
								{% set lastname = lastname ~ '...' %}
							{% else %}
								{% set lastname = user.getLastname() %}
							{% endif %}
							<td>{{ lastname }}</td>
							<td><a href="{{ path("profile_search", {'user' : user.getId()}) }}" class="btn btn-primary btn-lg">View profile</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

{% endblock %}
