{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/post.css') }}" rel="stylesheet">
    <link href="{{ asset('css/chat.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}
        
{% block body %} 

    <main role="main" class="container">
        <div class="col-md-12">
        <a href="{{ path("post") }}" class="button-home btn btn-dark btn-lg btn-block" role="button">Create Post</a>
        </div>

        {% include 'postBox.html.twig' %}

        {% include 'chat.html.twig' %}

    </main>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
		
    <script src="{{ asset('js/messages.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/postCreator.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/infiniteScroll.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>
   
{% endblock %}