{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/login.css') }}" rel="stylesheet">

{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}

    <form class="form-signin mt-5" action="{{ path('login') }}" method="post">

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
            <p>In order to continue, please login with the credentials you used during the sign up process.</p>
        </div>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Password" required>

        <button class="btn btn-lg btn-dark btn-block" type="submit" value="login">Login</button>

    </form>

{% endblock %}