{% extends 'base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">User information</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Username:</td>
				<td>{{ user.getUsername() }}</td>
			</tr>
			<tr>
				<td>Firstname:</td>
				<td>{{ user.getFirstname() }}</td>
			</tr>
			<tr>
				<td>Lastname:</td>
				<td>{{ user.getLastname() }}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ user.getEmail() }}</td>
			</tr>
			<tr>
				<td>CV:</td>
				{% if cv is empty %}
					<td></td>
				{% else %}
					<td>
						<object type="application/pdf" width="30%" height="50%" data="{{ path('download_document', { 'document': cv.getId()}) }}"></object>
					</td>
				{% endif %}

			</tr>
			<tr>
				<td>Photo :</td>
				{% if user.getProfilePicture() is empty %}
					<td></td>
				{% else %}
					<td><img src="{{ path('download_document', { 'document': user.getProfilePicture().getId()}) }}" alt="profile picture"  width="200px" /></td>
				{% endif %}
			</tr>
		</tbody>
	</table>

	<div class="container">

    	<div class="row" id="postPinBoard">
			
		</div>

	</div>

<a href="{{ path("profile_edit") }}" class="btn btn-primary btn-lg" role="button">Edit profile</a>
<a href="{{ path("cv_edit") }}" class="btn btn-primary btn-lg" role="button">Upload CV</a>


{% endblock %}

