{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
    <link href="{{ asset('css/post.css') }}" rel="stylesheet">
    <link href="{{ asset('css/chat.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Profile{% endblock %}


{% block body %}

<main role="main" class="container">

    <div class="container">
        <div class="row" id="profilePinBoard">
        
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Profile</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-12">

                                <form>

                                    {% if user.getProfilePicture() is empty %}
                                    <div class="text-center">
                                        <img id="profile-pic" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="picture img-circle img-thumbnail" alt="picture">
                                    </div>
                                    {% else %}
                                    <div class="text-center">
                                        <img src="{{ path('download_document', { 'document': user.getProfilePicture().getId()}) }}" class="picture img-circle img-thumbnail" alt="picture">
                                    </div>
                                    {% endif %}
                                    
                                    <br>
    
                                    <div class="form-group row border-bottom">
                                        <label for="username" class="col-4 col-form-label">Username:</label> 
                                        <div class="col-8">
                                            <label for="username" class="col-4 col-form-label">{{ user.getUsername() }}</label> 
                                        </div>
                                    </div>

                                    <div class="form-group row border-bottom">
                                        <label for="name" class="col-4 col-form-label">First Name:</label> 
                                        <div class="col-8">
                                            <label for="name" class="col-4 col-form-label">{{ user.getFirstname() }}</label> 
                                        </div>
                                    </div>

                                    <div class="form-group row border-bottom">
                                        <label for="lastname" class="col-4 col-form-label">Last Name:</label> 
                                        <div class="col-8">
                                            <label for="lastname" class="col-4 col-form-label">{{ user.getLastname() }}</label>
                                        </div>
                                    </div>

                                    <div class="form-group row border-bottom">
                                        <label for="email" class="col-4 col-form-label">Email:</label>
                                        <div class="col-8">
                                            <label for="email" class="col-4 col-form-label">{{ user.getEmail() }}</label>
                                        </div>
                                    </div>

                                    <div class="form-group row border-bottom">
                                        <label for="group" class="col-4 col-form-label">Group:</label>
                                        <div class="col-8">
                                        {% for visibilitygroup in user.getVisibilityGroups() %}
                                            <label for="group" class="group-label col col-form-label">{{ visibilitygroup.getLabel() }}</label>
                                        {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="cv" class="col-4 col-form-label">CV:</label> 
                                        <div class="cv col-8">
                                            <label for="group" class="cv-label col-4 col-form-label" >
                                                {% if cv is not empty %}
                                                    <a href="{{ path('download_document', { 'document': cv.getId()}) }}">DISPLAY CV</a>
                                                {% endif %}
                                            </label>
                                        </div>
                                    </div>

                                    <br>
                                        
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                        {% if userActions %}
                                            <div>
                                                <a href="{{ path("profile_edit") }}" class="btn btn-dark" role="button">Edit Profile</a>
                                                <a href="{{ path("cv_edit") }}" class="btn btn-dark" role="button">Upload CV</a>
                                                <a href="{{ path("post") }}" class="btn btn-outline-dark float-right" role="button">Create Post</a>
                                                <a href="{{ path("unpublished_posts") }}" class="btn btn-dark float-right mr-1" role="button">Unpublished Posts</a>
                                            </div>
                                        {% else %}
                                            <a href="#" id="conversation-button" class="btn btn-dark float-right" role="button">Send Message</a>    
                                        {% endif %}
                                        </div>
                                        
                                    </div>

                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    
        {% include 'chat.html.twig' %}

</main>

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<script>
		const USER = "{{user.getId()}}";
		console.log(USER);
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <script type="text/javascript" src="{{ asset('js/postCreator.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/infiniteProfileScroll.js') }}"></script>
    <script src="{{ asset('js/messages.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>
	
{% endblock %}

