{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/post.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Unpublished Posts{% endblock %}

{% block body %}
	<div class="container mt-5">
    	{% if posts is empty %}
    		<p>No posts found in the application</p>
    	{% else %}      
				{% for post in posts %}
			<div class="card mb-3">
				<div class="card-footer text-muted">
					Posted in <p class="group-name font-weight-light font-italic d-inline">{{ post.getVisibility().getLabel() }}</p> on {{ post.getCreationDate() | date('Y-m-d H:i:s') }} 
					<div class="icons">
						<a href="{{ path('post_edit',{'id' : post.getId()}) }}" class="deco-none"><i class="fas fa-pencil-alt mr-2 d-inline"></i></a>
						<a href="{{ path('delete_post',{'id' : post.getId()}) }}" class="deco-none"><i class="fas fa-trash-alt mr-2 d-inline"></i></a>
					</div>
				</div>
				<div class="card-body">
					<div class="media-body">
						<div class="media-body ">
							<img class="mr-3 mb-3 rounded-circle" src="http://placehold.it/40x40" alt="">
							<h2 class="card-title"> {{ post.getTitle() }}</h2>
						</div>
						<p class="card-text"> {{ post.getContent() }} </p>
					</div>
				</div>
			</div>
			{% endfor %}
    	{% endif %}
	</div>
	
{% endblock %}